/* PlanDialog.css */
.reg-string {
    font-size: 36px;
    font-weight: bold;
}
.reg-slotId {
    color: green;
    font-size: 36px;
    font-weight: bold;
}
.dialog-content {
    font-size: 24px;
    min-width: 108px;
    color: black;
}
.dialog-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 5px;
    /* gap: 20px; */
}